<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ExternalServiceSMSPassword" value="7455sM3X4rGHzd2g"/>
		<add key="TwilioURL" value="http://clnjacu-srv1/ACU_SMS/ACU_Twilio_Service.asmx/ACUSendSMS"/>
	</appSettings>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FOX.ExternalServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ReplixFaxBinding"/>
                <binding name="SundrySoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.rpxfax.com:8080/softlinx/replixfax/wsapi" binding="basicHttpBinding" bindingConfiguration="ReplixFaxBinding" contract="replifax.ReplixFaxPort" name="ReplixFaxPort"/>
            <endpoint address="http://qa-webservices.mtbc.com/Sundry/Sundry.asmx" binding="basicHttpBinding" bindingConfiguration="SundrySoap" contract="Fox.ExternalServices.SundrySoap" name="SundrySoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><applicationSettings>
        <FOX.ExternalServices.Properties.Settings>
            <setting name="FOX_ExternalServices_PatientEligibilityService_Service" serializeAs="String">
                <value>http://10.10.30.47:8010/Service.svc</value>
            </setting>
            <setting name="FOX_ExternalServices_SundrySmsService_Sundry" serializeAs="String">
                <value>http://qa-webservices.mtbc.com/Sundry/Sundry.asmx</value>
            </setting>
            <setting name="FOX_ExternalServices_TelenorSmsService_Service1" serializeAs="String">
                <value>http://172.16.0.71/TelenorAPI/TelenorSMS.asmx</value>
            </setting>
        </FOX.ExternalServices.Properties.Settings>
    </applicationSettings>
</configuration>
