@{
    ViewBag.Title = "Error";
}
<body class="login-page-bg">

    <div class="container text-center error-page-container">
        <img class="error-image" src="~/Content/images/fox-image.png" alt="Fox Image" />
        <div class="error-divider"></div>
        <h1>ERROR</h1>
        <p>
            Default for all common errors
        </p>
        <a href="#"><u>Back to Main</u></a>
    </div>
</body>
