
@{
    ViewBag.Title = "NotFound";
}

<body class="login-page-bg">

    <div class="container text-center error-page-container">
        <img class="error-image" src="~/Content/images/fox-image.png" alt="Fox Image" />
        <div class="error-divider"></div>
        <h2>
            ERROR
        </h2>
        <h1>404</h1>
        <p>
            Sorry, this is not the page <br /> you are looking for
        </p>
        <a href="#"><u>Back to Main</u></a>
    </div>
</body>