<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
	<appSettings>
		<add key="ClientURL" value="https://fox.mtbc.com/" />
		<add key="GetPracticeCode" value="1011163" />
		<add key="SplashStartTime" value="05/30/2022 05:00:00 AM" />
		<add key="SplashEndTime" value="05/30/2022 13:10:00 PM" />
		<add key="SplashType" value="Database Server Maintenance Activity" />
		<add key="PHRPortalURL" value="https://phruat.foxrehab.org/FOXPHR/VerifyID?info=" />
		<add key="TwilioURL" value="http://clnjacu-srv1/ACU_SMS/ACU_Twilio_Service.asmx/ACUSendSMS" />
	</appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<connectionStrings>
		<add name="FOXConnection" connectionString="server=10.10.30.162;database=;uid=FoxWebUser_Test;password=Prelive@Mtbc;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=talkEHR;" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <runtime>
	  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		  <dependentAssembly>
			  <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31BF3856AD364E35" culture="neutral" />
			  <bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
			  <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
			  <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
			  <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
			  <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
			  <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
			  <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
			  <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
			  <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
			  <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
			  <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
			  <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
			  <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
			  <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
		  </dependentAssembly>
	   <dependentAssembly>
	    <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
	    <bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
	   </dependentAssembly>
	   <dependentAssembly>
	    <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
	    <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
	   </dependentAssembly>
	  </assemblyBinding>
  </runtime>
</configuration>