<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="ClientURL" value="https://fox.mtbc.com/" />
		<add key="IsLiveURL" value="false" />
		<add key="Origins" value="http://localhost:4200,https://uatfox.mtbc.com,https://stagingfox.mtbc.com,https://fox.mtbc.com,https://ccremote.carecloud.com,http://172.16.0.207:15187" />
		<add key="ACUServiceURL" value="https://uat-webservices.mtbc.com/ACU-WebAPI/api/FoxSurveyCalls/MakeCall/" />
		<add key="EligibilityURL" value="http://10.10.30.47:9945/api/eligibility/transactions" />
		<add key="GetPracticeCode" value="1012714" />
		<add key="EligibilityURL" value="http://10.10.30.47:9945/api/eligibility/transactions" />
		<add key="NoReplyUserName" value="noreply@carecloud.com" />
		<add key="NoReplyPassword" value="C@r3@2024%" />
		<add key="FoxRehabUserName" value="foxrehab@carecloud.com" />
		<add key="FoxRehabPassword" value="Foxreh@b22" />

		<add key="SplashStartTime" value="05/30/2022 05:00:00 AM" />
		<add key="SplashEndTime" value="05/30/2022 13:10:00 PM" />
		<add key="SplashType" value="Database Server Maintenance Activity" />

		<add key="PatientSurveyEmailAddressForLive" value="bradley.pennypacker@foxrehab.org" />
		<add key="PatientSurveyEmailAddressForTest" value="zohaibmehboob@mtbc.com" />
		<add key="PHRPortalURL" value="https://phr.foxrehab.org/FOXPHR/VerifyID?info=" />
		<add key="PdfFocusLicenseKey" value="VMQzJhYBOOf2u2JvPaBGK38M3qqxB8jt02" />
		<!--<add key="GetPracticeCode" value="1011163" />-->
		<!--Survey Automation Email Notification-->
		<add key="SurveyAutomationCCList" value="muhammadsalman7@carecloud.com" />
		<add key="SurveyAutomationBCCList" value="muhammadsalman7@carecloud.com" />
		<add key="CCExceptionEmailList" value="muhammadarslan3@carecloud.com;aftabkhan@carecloud.com;muhammadsalman7@mtbc.com" />
		<add key="SendEmailOnException" value="muhammadarslan3@carecloud.com;aftabkhan@carecloud.com;muhammadsalman7@mtbc.com;taimoorhussain@carecloud.com" />
		<add key="secretKey" value="6LcLyWEUAAAAAMaC-T4HXb4uGe2Ob06JbVu1R57r" />
	</appSettings>
	<system.web>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.6" />
		<httpRuntime targetFramework="4.6" maxRequestLength="2097151" enableVersionHeader="false" />
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="">
				<!--<network defaultCredentials="true" host="10.10.30.202" password="anonymous" port="25" userName="anonymous" />
		  <network defaultCredentials="false" host="172.16.0.14" password="" port="25" userName="" />-->
				<!-- <network defaultCredentials="true" host="10.10.30.99" password="anonymous" port="25" userName="anonymous" /> -->
				<network defaultCredentials="true" host="smtp.office365.com" port="587" enableSsl="true" />
			</smtp>
		</mailSettings>
		<defaultProxy useDefaultCredentials="true">
			<proxy usesystemdefault="True" />
		</defaultProxy>
	</system.net>
	<system.webServer>
		<modules>
			<remove name="FormsAuthentication" />
		</modules>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<httpProtocol>
			<customHeaders>
				<!--15-	Content Security Policy (CSP)-->
				<add name="Content-Security-Policy" value="script-src 'self' 'unsafe-inline'; connect-src 'self' http://localhost:14479/ http://172.16.0.207:7831/ http://172.16.0.207:7861/ http://172.16.0.207:6906/ http://172.16.0.207:6455/ http://172.16.0.207:8195/ http://172.16.0.207:8639/ http://172.16.0.207:7930/ http://172.16.0.207:8781/ http://172.16.0.207:9352/ http://172.16.0.207:9365/ http://172.16.0.207:6893/ http://172.16.0.207:8958/ http://172.16.0.207:8961/ http://172.16.0.207:8967/ http://uatfox.mtbc.com/ https://fox.mtbc.com/;" />
				<!--16-	Missing X-XSS Protection Header [Informational]-->
				<add name="X-XSS-Protection" value="1; mode=block" />
			</customHeaders>
		</httpProtocol>
		<!--<modules runAllManagedModulesForAllRequests="true" />-->
		<!--20-	OPTIONS Method Enabled-->
		<!--<security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>-->
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<connectionStrings>
		<add name="FOXConnection" connectionString="server=DESKTOP-F3DVFJE;database=UAT;Integrated Security=true;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=talkEHR;" providerName="System.Data.SqlClient" />
		<!--<add name="FOXConnection" connectionString="server=DESKTOP-F3DVFJE;database=UAT;uid=FoxWebUser_Test;password=Prelive@Mtbc;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=talkEHR;" providerName="System.Data.SqlClient" />-->
		<!--<add name="FOXConnection" connectionString="server=vsubmission;database=amazingdb;uid=mtbcweb;password=mtbcweb@mtbc;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=talkEHR;" providerName="System.Data.SqlClient" />-->
		<!--<add name="FOXConnection" connectionString="server=10.10.30.26;database=mis_db;uid=FoxWebUser;password=foxweb@mtbc;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=FoxRehab;" providerName="System.Data.SqlClient" />-->
		<!--<add name="FOXConnection" connectionString="server=10.10.30.166;database=FOX_DB;uid=mtbcweb;password=mtbcweb@mtbc;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=talkEHR;" providerName="System.Data.SqlClient" />-->
		<!--<add name="FOXConnection" connectionString="server=10.10.30.162;database=FOX_UAT;uid=FoxWebUser_Test;password=Prelive@Mtbc;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=talkEHR;" providerName="System.Data.SqlClient" />-->
		<!--<add name="FOXConnection" connectionString="server=10.10.30.162;database=FOX_UAT;uid=FoxWebUser_Test;password=Prelive@Mtbc;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=talkEHR;" providerName="System.Data.SqlClient" />-->
		<!-- TalkEhr DB Connection Strings-->
		<add name="TalkEhrDBConnection" connectionString="server=10.10.30.166;database=amazingdb;uid=mtbcweb;password=mtbcweb@mtbc;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=talkEHR;" />
		<!--<add name ="TalkEhrDBConnection" connectionString="server=10.10.30.173;database=MIS_DB;uid=mtbcweb;password=mtbcweb@mtbc;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=talkEHR;"/>-->
		<add name="TalkRehabConnection" connectionString="Data Source=10.10.30.29;Initial Catalog=MIS_DB; User ID=talkehr;Password=mtbc@5134;MultipleActiveResultSets=true;Persist Security Info=true;Application Name=talkEHR;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
<!--ProjectGuid: 7B67705C-27C3-4BBD-B689-1F43F56C9665-->
